out.log
*.pprof
*.pdf
gogen
test.out
.vscode
build.sh
.githubtoken
linecount.sh
gogen-api/getswagger.sh
local/**
.vim*
.bash*
.aws*
.profile
.screenrc
splunk_app_gogen.spl
.configcache*
.versioncache*