index,host,source,sourcetype,_raw
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT * FROM sessions WHERE session_id='VVVVVVVVVV'"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT * FROM sessions WHERE session_id='VVVVVVVVVV'"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT * FROM sessions WHERE session_id='VVVVVVVVVV'"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT * FROM sessions WHERE session_id='VVVVVVVVVV'"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT * FROM sessions WHERE session_id='VVVVVVVVVV'"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT * FROM sessions WHERE session_id='VVVVVVVVVV'"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT * FROM sessions WHERE session_id='VVVVVVVVVV'"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""INSERT INTO SESSIONS (session_id, customer_id) VALUES ('VVVVVVVVVV', UUUUUUUUUU)"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""INSERT INTO SESSIONS (session_id, customer_id) VALUES ('VVVVVVVVVV', UUUUUUUUUU)"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""INSERT INTO ORDERS (session_id, customer_id, product_id) VALUES ('VVVVVVVVVV', UUUUUUUUUU, TTTTTTTTTT)"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT * FROM customers WHERE customer_id=UUUUUUUUUU"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT * FROM customers WHERE customer_id=UUUUUUUUUU"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT * FROM customers WHERE customer_id=UUUUUUUUUU"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT * FROM customers WHERE customer_id=UUUUUUUUUU"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT customer_id, fname, lname, type FROM customers WHERE customer_id=UUUUUUUUUU"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT customer_id, username FROM customers WHERE customer_id=UUUUUUUUUU"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT product_id, sku, price,  FROM products WHERE product_id=TTTTTTTTTT"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT price FROM products WHERE product_id=TTTTTTTTTT"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT sku FROM products WHERE product_id=TTTTTTTTTT"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT * FROM products WHERE product_id=TTTTTTTTTT"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT * FROM products WHERE product_id=TTTTTTTTTT"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT * FROM products WHERE product_id=TTTTTTTTTT"""
oidemo,localhost,mysql_perf_api,mysql_perf,"[29/Apr/2013 18:09:04:173] src=ZZZZZZZZZZ transaction_speed=WWWWWWWWWW cpu_util=XXXXXXXXXX mem_util=YYYYYYYYYY query=""SELECT * FROM products WHERE product_id=TTTTTTTTTT"""